# Server
TIDEWAY_HOST=0.0.0.0
TIDEWAY_PORT=8000

{{#if has_database_feature}}
# Database
DATABASE_URL={{{database_url}}}

{{/if}}
{{#if has_auth_feature}}
# Auth
JWT_SECRET=your-super-secret-jwt-key-change-in-production

{{/if}}
{{#if has_openapi_feature}}
# OpenAPI
OPENAPI_ENABLED=true
OPENAPI_SWAGGER_UI=true
OPENAPI_SERVE_SPEC=true

{{/if}}
